In [32]:
pip install pandas

Requirement already satisfied: pandas in c:\users\chetna bagwan\miniconda3\lib\site-packages (2.0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.20.3 in c:\users\chetna bagwan\miniconda3\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\chetna bagwan\miniconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chetna bagwan\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chetna bagwan\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\chetna bagwan\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
df=pd.read_csv('BlackFriday.csv')
del df['Product_Category_2']
del df['Product_Category_3']

In [38]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [40]:
df['User_ID'].nunique()

5891

In [ ]:
df['User_ID'].unique()

In [ ]:
df['Product_ID'].nunique()

In [ ]:
df['Gender'].unique()

In [ ]:
df['Age'].unique()

In [ ]:
df['Occupation'].unique()

In [ ]:
df['City_Category'].unique()

In [ ]:
df['Stay_In_Current_City_Years'].unique()

In [ ]:
df['Marital_Status'].unique()

In [ ]:
df['Product_Category_1'].unique()

In [ ]:
df['Purchase'].sum()

In [ ]:
df['Purchase'].sum()/len(df['Purchase'])

In [ ]:
for column in df.columns:
    print(column,":",df[column].nunique())

In [ ]:
data=pd.DataFrame({'Ratio' : [len(df[df['Gender'] == 'M']) , len(df[df['Gender'] == 'F'])]} , index=['Male','Female'])

In [ ]:
data.plot.pie(y='Ratio',autopct='%.1f')

In [ ]:
df.groupby('Gender').size().plot(kind='pie',autopct='%.1f',title='Gender Ratio')

In [ ]:
df.groupby('Gender').size().plot(kind='bar',figsize=(6,6))

In [ ]:
df.groupby('Gender').size()

In [ ]:
df.groupby('Gender').sum()['Purchase'].plot(kind='pie',autopct="%0.1f")